<div class="well form-horizontal">	
	<%= form_for :username, url: lookup_path do |form| %>

	<% if @username.errors.any? %>
		<% @username.errors.full_messages.each do |error| %>
			<li><%= error %></li>
		<% end %>
	<% end %>

		  <div class="form-group">
		  	<%= form.label :username %>
		  	<%= form.text_field :username  , class: "form-control" %>
		 </div>
		 
		  <div class="form-group">
		  	<%= form.submit 'Submit', class: 'btn btn-primary btn-block' %>
		  </div>
	<% end  %>
</div>


