<div class="embed-responsive embed-responsive-4by3">
  <div class="embed-responsive-item" id="player">
          
          <script type="text/javascript">
           $(document).ready(function() {
            function loadPlayer(id, user_id, song) { 
                     
          UserId = user_id

          if (typeof(YT) == 'undefined' || typeof(YT.Player) == 'undefined') {

            var tag = document.createElement('script');
            tag.src = "https://www.youtube.com/iframe_api";
            var firstScriptTag = document.getElementsByTagName('script')[0];
            firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
        
           
            window.onYouTubePlayerAPIReady = function(id) {
              onYouTubePlayer(id);
              PageTitle(song);
            };

          } else {
            
           onYouTubePlayer(id)
            PageTitle(song);
          }
        }

      function PageTitle(song) {

        document.title = song
      };

            // 3. This function creates an <iframe> (and YouTube player)
            //    after the API code downloads.
            var player;
            function onYouTubePlayer(id) {
              player = new YT.Player('player', {
                height: '400',
                width: '550',
                videoId: '<%= video_id(@song)%>',
                playerVars: { 'autoplay': 1, 'controls': 1 },

                events: {
                  'onReady': onPlayerReady,
                  'onStateChange': onPlayerStateChange,
                  'onError': onError

                }
              });
            }

            console.log('<%= video_id(@song)%>')
        loadPlayer('<%= video_id(@song)%>', '<%= @user.id %>' , '<%= @song %>' );
      });
        </script>
    
  </div>
</div>
<div class="control-panel">
 
     
      <%= link_to "Shuffle", shuttle_path(:username => @user, :current_song => @song) , remote:true , :class => "btn btn-default shuffle" %> 
      
      <%= link_to "Switch Username", new_username_path , :class => "btn btn-default back-button", :id => 'Another search' %> 
</div>  	



