<script type="text/javascript">
  
$(document).ready(function(){
    $('[data-toggle="popover"]').popover({
        placement : 'top',
        trigger : 'hover',
        html : true,
        content : '<div class="media"><img src="<%= album_img(@song) %>" class="mr-3" alt="Album Cover"><div class="media-body"></div> <%=album_name(@song)%> , Released: <%= album_release_date(@song) %>"</div>'
    });
}); 



</script>



<div class="embed-responsive embed-responsive-4by3">
  <div class="embed-responsive-item" id="player">
          
          <script type="text/javascript">
           $(document).ready(function() {
            function loadPlayer(id, user_id, song, spotify_link) { 
                     
          UserId = user_id

          if (typeof(YT) == 'undefined' || typeof(YT.Player) == 'undefined') {

            var tag = document.createElement('script');
            tag.src = "https://www.youtube.com/iframe_api";
            var firstScriptTag = document.getElementsByTagName('script')[0];
            firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
        
           
            window.onYouTubePlayerAPIReady = function(id) {
              onYouTubePlayer(id);
              PageTitle(song);
            };

          } else {
            
           onYouTubePlayer(id)
            PageTitle(song);
          }
        }

      function PageTitle(song) {

        document.title = song
      };

            // 3. This function creates an <iframe> (and YouTube player)
            //    after the API code downloads.
            var player;
            function onYouTubePlayer(id) {
              player = new YT.Player('player', {
                height: '400',
                width: '550',
                videoId: '<%= video_id(@song)%>',
                playerVars: { 'autoplay': 1, 'controls': 1 },

                events: {
                  'onReady': onPlayerReady,
                  'onStateChange': onPlayerStateChange,
                  'onError': onError

                }
              });
            }

            console.log('<%= video_id(@song)%>')
        loadPlayer('<%= video_id(@song)%>', '<%= @user.id %>' , '<%= @song %>', '<%= spotify_link(@song) %>' );
      });
        </script>
    
  </div>
</div>
<div class="control-panel">
 
   
  
   

</div>
 
      <a href="<%= spotify_link(@song) %>">Play on Spotify</a> 
      <a href="<%= track_album(@song) %>">Play Album on Spotify</a>
     
       <button type="button" class="btn btn-primary" data-toggle="popover"> Album info </button>
    


      <%= link_to "Shuffle", shuttle_path(:username => @user, :current_song => @song) , remote:true , :class => "btn btn-primary shuffle" %> 
      
      <%= link_to "Switch Username", new_username_path , :class => "btn btn-primary back-button", :id => 'Another search' %> 
</div>  	



