<div id="player">
    <script type="text/javascript">
     loadPlayer('<%= video_id(@song)%>', '<%= @user.id %>' , '<%= @song %>' );
      </script>
</div> 	
    <%= link_to "Shuffle", shuttle_path(:username => @user, :current_song => @song) , remote:true , :class => "btn btn-default" %> 

	 <%= social_share_button_tag(@song,  :url => "http://www.youtube.com/embed/" + video_id(@song) , desc:  @song) %>
  </div>
</div>




