<div id="player">
    <script type="text/javascript">
     loadPlayer('<%= video_id(@song)%>', '<%= @user.id %>' , '<%= @song %>' );
      </script>
</div> 	
    <%= link_to "Next!", shuttle_path(:username => @user, :current_song => @song) , remote:true , :class => "btn btn-primary" %> 

 <%= social_share_button_tag('Share Song to Facebook', :url => usernames_path(@song), desc: @song) %>
  </div>
</div>
