<!DOCTYPE html>
<html>
  <head>
    
    <%= favicon_link_tag 'favicon.ico' %>
    <title> LastFm - Youtube </title>
 
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </head>

  <body>
    <div class="container-fluid page">
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
    
   
    <%= js add_gritter(flash[:notice], title: "LastFM-Youtube Notification", sticky: false) %>
  </body>
</html>
